{% extends "base.html" %}
{% block title %}
	Composite App Data
{% endblock %}

{% block page_content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
			 	<div class="card-body">
			    	<h3 class="card-title"><b>Datos Cliente</b></h3>
			  	</div>
			  	<ul class="list-group list-group-flush">
			    	<li class="list-group-item">Nombre: <br>
			    		{{ data.usuario.nombre }}</li>
			    	<li class="list-group-item">Email: <br>
			    		{{ data.usuario.email }}</li>
			    	<li class="list-group-item">Dirección: <br>
			    		{{ data.usuario.direccion }}</li>
			  	</ul>
			  	<div class="card-body">
			    	<a href="#" class="card-link">Mi empresa</a>
		  		</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
		  		<div class="card-body">
		    		<h3 class="card-title"><b>Datos Lanza</b></h3>
		  		</div>
		  		<ul class="list-group list-group-flush">
		  			{% for lanza in data.lanza %}
		    		<li class="list-group-item">Código: <br>
		    			{{ lanza.codigo }}</li>
		    		<li class="list-group-item">Modelo: <br>
		    			{{ lanza.modelo }}</li>
		    		<li class="list-group-item">Serie: <br>
		    			{{ lanza.serie }}</li>
		    		{% endfor %}
		  		</ul>
		  		<div class="card-body">
		    		<a href="/registros" class="card-link">Registros</a>
		  		</div>
			</div>
		</div>
	</div>
</div>

<h3><b>Pilas</b></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Predio</th>
      <th scope="col">Fecha creación</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
  	{% for pila in data.pilas %}
	    <tr>
	      <th scope="row">{{pila.id}}</th>
	      <td>{{pila.predio}}</td>
	      <td>{{pila.fecha_creacion}}</td>
	      <td>{{pila.estado}}</td>
	    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary" href="/nueva" role="button">Agregar Pila</a>

{% endblock %}
